.menu{}
.firstLevel{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--gray-dark);
}
.firstLevel:hover,
.firstLevelActive {
    color: var(--primary);
}
.firstLevel:hover svg,
.firstLevelActive svg{
    fill: var(--primary);
}
.secondLevelWrapper {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #dfdfdf;
}
.secondLevelWrapper:last-child {
    margin-bottom: 20px;
}
.secondLevel {
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.secondLevelBlock {
    overflow: hidden;
}
.thirdLevel {
    display: block;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray-dark);
    cursor: pointer;
}
.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
